.home-title{
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    font-size: 80px;
    margin-top: 160px;
    margin-bottom: 0;
    background-image: none;
    transition: color 0.5s;

}

.home-title:hover{
    background-image: url("assets/red-pink-gradient.png");
    background-clip: text;
    color: transparent;
    background-position: 80% 80%;
    background-size: 100% 90px;
    transition: color 0.5s;
}



.home-subtitle{
    color: red;
    font-size: 38px;
    margin-top: 25px;
    font-weight: 400;
}

.home-button{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.home-img{
    width: 380px;
    border-radius: 40px;
    transition: transform 1s;
}
.home-img:hover{
    transform: rotate(180deg);
}


.home-button p{
    color: rgb(200, 200, 200);
    position: absolute;
    font-size: 40px;
    width: 380px;
}

.home-buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}