.home-title{
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    font-size: 70px;
    margin-top: 120px;
    margin-bottom: 0;
}

.header{
    background-color: rgb(200, 200, 200);
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header p{
    color: red;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.3s;
}
.header p:hover{
    color: black;
}

.home-subtitle{
    color: red;
    font-size: 32px;
    margin-top: 25px;
    font-weight: 400;
}