.xaxis-line{
    position: absolute;
    background-color: black;
    width: 800px;
    height: 3px;
    bottom: 50px;
    left: 100px;
    
}

.x-tick{
    position: absolute;
    background-color: black;
    width: 1px;
    height: 800px;
    bottom: -3px;
    opacity: 0.2;
}