.yaxis-line{
    position: absolute;
    background-color: black;
    width: 3px;
    height: 700px;
    bottom: 100px;
    left: 100px;
    
}

.y-tick{
    position: absolute;
    background-color: black;
    width: 700px;
    height: 1px;
    left: 0px;
    opacity: 0.2;
}