.yaxis-line{
    position: absolute;
    background-color: black;
    width: 3px;
    height: 800px;
    bottom: 50px;
    left: 100px;
    
}

.y-tick{
    position: absolute;
    background-color: black;
    width: 800px;
    height: 1px;
    left: 3px;
    opacity: 0.2;
}